.footer {
  border-top: 1px solid var(--color-zinc-800);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  color: var(--color-zinc-500);
  font-size: 0.875rem;
}
