.reviewsGrid {
  display: grid;
  width: fit-content;
  gap: 2rem;
  align-items: end;
}

.reviewsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.avatarStack {
  display: flex;
  width: 122px;
  gap: -0.75rem;
}

.avatar1,
.avatar2,
.avatar3,
.avatar4 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  flex-shrink: 0;
  margin-right: -0.75rem;
}

.avatar1 {
  background-color: var(--color-gray-400);
}

.avatar2 {
  background-color: var(--color-gray-300);
}

.avatar3 {
  background-color: var(--color-gray-500);
}

.avatar4 {
  background-color: var(--color-gray-400);
}

.reviewCount {
  font-size: 0.875rem;
  color: var(--color-zinc-300);
  margin: 0;
  justify-self: end;
}

.starRating {
  display: flex;
  gap: 0.25rem;
  justify-self: end;
}

.starRating span {
  color: var(--color-orange-500);
  font-size: 0.875rem;
}
