.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.categoriesTitle {
  font-size: 20px;
  font-weight: 700;
  color: #494949;
  margin: 0;
}

.categoriesList {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.categoriesList::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.categoryButton {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 16px;
  background-color: #303030;
  border: 2px solid #3f3f3f;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.categoryButton:hover {
  color: #ffffff;
  border-color: #595959;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #63636324;
}

.categoryButton.active {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}

.categoryButton.active .categoryName {
  color: #dadada;
}

.categoryButton:hover .categoryName {
  /* color: #400000; // Cool Idea */
  color: #dadada;
}

.categoryImage {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.image {
  object-fit: cover;
}

.categoryName {
  font-size: 14px;
  font-weight: 600;
  color: #4b4b4b;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .categoriesContainer {
    gap: 16px;
    height: fit-content; /* Override sticky behavior for smaller screens */
    position: static;
    width: calc(100vw - 48px);
  }

  .categoriesList {
    width: calc(100vw - 48px);
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden; /* Prevent vertical scroll on small screens */
    flex: unset; /* Remove flex: 1 for small screens */
    gap: 12px;
    padding-bottom: 8px;
    scrollbar-width: auto; /* Restore scrollbar for horizontal scrolling if needed */
    -ms-overflow-style: auto;
  }

  .categoriesList::-webkit-scrollbar {
    display: block; /* Show scrollbar for horizontal scrolling if needed */
    height: 6px; /* Adjust as needed */
  }

  .categoriesList::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
  }

  .categoryButton {
    min-width: 120px;
    flex-shrink: 0;
  }

  .categoryImage {
    height: 80px;
  }

  .categoryName {
    font-size: 12px;
  }
}
